doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="assets/css/font-awesome.css")
    link(rel="stylesheet" href="assets/css/styles.css")
    title Pet care

  body
    include pug/home
    include pug/about
    include pug/services
    include pug/fun-facts
    include pug/pricing

    script(src="assets/js/scripts.js")