section.about.section#about
  .container
    h2.about__title.section-title About Us
    p.about__subtitle.section-subtitle Why we are the best

    .row
      .about__img
        .fancy-br-box
          img(src='assets/img/about-img.jpg' alt='')
          .icon-box
            img(src='assets/img/icon/2.png' alt='')

      .about__text
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, atque blanditiis deserunt dignissimos dolore dolores earum est facere harum hic iure labore laudantium qui quia repudiandae sint veniam. Dolor, fugiat.
        h3 Lorem ipsum dolor sit amet.
        ul
          li
            i.fas.fa-check
            | Healthy food.
          li
            i.fas.fa-check
            | Regular exercise.
          li
            i.fas.fa-check
            | Lorem ipsum dolor.
          li
            i.fas.fa-check
            | Lorem ipsum dolor sit amet.
          li
            i.fas.fa-check
            | Lorem ipsum.