section.contact.section
  .container
    .row
      .contact__details
        h2.section-subtitle Contact us
        .contact__text-1
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid minima molestiae obcaecati officiis omnis optio perspiciatis quasi repudiandae tempora voluptas.
        .contact__info
          .contact__info-item
            i.fas.fa-map-marker-alt
            p 34 glassmorphism street, display flex city, New Delhi
          .contact__info-item
            i.fas.fa-envelope
            p info@gmail.com
          .contact__info-item
            i.fas.fa-phone
            p 91 9654 *** 000
        .contact__social-links
          a(href='#' title='facebook').fab.fa-facebook-f
          a(href='#' title='twitter').fab.fa-twitter
          a(href='#' title='linkedin').fab.fa-linkedin-in
          a(href='#' title='instagram').fab.fa-instagram

      .contact__form
        .icon-box
          img(src='assets/img/icon/3.png' alt='')
        .contact__form-box
          form(action='')
            .input-box
              input(type='text' placeholder='Name').input-control
            .input-box
              input(type='email' placeholder='Email').input-control
            .input-box
              input(type='text' placeholder='Subject').input-control
            .input-box
              textarea(placeholder='Message').input-control

            button(type='submit').btn Send message