footer.footer
  .footer__top
    .container
      .row
        .footer__content
          h3.footer__title About
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam blanditiis deserunt dolore eaque, earum hic in labore necessitatibus optio quaerat.
        .footer__content
          h3.footer__title Follow us
          ul
            li
              a.footer__link(href='#') Facebook
            li
              a.footer__link(href='#') Twitter
            li
              a.footer__link(href='#') Linkedin
        .footer__content
          h3.footer__title Information
          ul
            li
              a.footer__link(href='#') Privacy policy
            li
              a.footer__link(href='#') Terms & conditions
            li
              a.footer__link(href='#') Return policy
  .footer__bottom
    .container
      p.footer__copy Created using Pug, Sass, Vanilla JS