section.fun-fact
  .container
    .row
      .fun-fact__item
        .fun-fact__box
          h2 500
          p Happy clients
      .fun-fact__item
        .fun-fact__box
          h2 99
          p Adopted pets
      .fun-fact__item
        .fun-fact__box
          h2 10
          p Awards
      .fun-fact__item
        .fun-fact__box
          h2 100+
          p Clients