header.header
  .container
    .header__main
      .header__logo
        a(href='#')
          img(src='assets/img/logo.png' alt='')
          | Petcare
      button(type='button').nav-toggler#toggle-menu
        span
      nav.nav#nav-menu
        ul
          li(style='--item:1')
            a(href='#home') Home
          li(style='--item:2')
            a(href='#about') About
          li(style='--item:3')
            a(href='#services') Services
          li(style='--item:4')
            a(href='#pricing') Pricing
          li(style='--item:5')
            a(href='#contact') Contact