header.header
  .container
    .header__main
      .header__logo
        a(href='#')
          img(src='assets/img/logo.png' alt='')
          | Petcare
      button(type='button').nav-toggler#toggle-menu
        span