- let imgFolder = `./assets/img`

section.home
  .container
    .row
      .home__text
        h1 We provide the best care for your pets
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dolorem exercitationem explicabo ipsum laboriosam quis quod repudiandae sed ullam vero?
        a.btn(href="#") Contact Us
      .home__img
        .fancy-br-box
          img(src="assets/img/home-img.jpg" alt="")
          .icon-box
            img(src="assets/img/icon/1.png" alt="")