section.pricing.section#pricing
  .container
    h2.section-title Pricing
    p.section-subtitle Best pricing plan

    .row
      .pricing__item.pricing-1
        .pricing__header
          h3(data-text='basic')
            span Basic
          .price $50
            span  / Month

        .pricing__body
          ul
            li
              i.far.fa-check-circle
              | Lorem ipsum dolor sit.
            li
              i.far.fa-check-circle
              | Lorem ipsum dolor sit.
            li
              i.far.fa-check-circle
              | Lorem ipsum dolor sit.
            li
              i.far.fa-check-circle
              | Lorem ipsum dolor sit.
            li
              i.far.fa-times-circle
              | Lorem ipsum dolor sit.
            li
              i.far.fa-times-circle
              | Lorem ipsum dolor sit.
            li
              i.far.fa-times-circle
              | Lorem ipsum dolor sit.
            li
              i.far.fa-times-circle
              | Lorem ipsum dolor sit.
        .pricing__footer
          a.btn.btn--pricing(href='#') Book Now

      .pricing__item.pricing-2
        .pricing__header
          h3(data-text='standard')
            span Standard
          .price $100
            span  / Month

        .pricing__body
          ul
            li
              i.far.fa-check-circle
              | Lorem ipsum dolor sit.
            li
              i.far.fa-check-circle
              | Lorem ipsum dolor sit.
            li
              i.far.fa-check-circle
              | Lorem ipsum dolor sit.
            li
              i.far.fa-check-circle
              | Lorem ipsum dolor sit.
            li
              i.far.fa-check-circle
              | Lorem ipsum dolor sit.
            li
              i.far.fa-check-circle
              | Lorem ipsum dolor sit.
            li
              i.far.fa-times-circle
              | Lorem ipsum dolor sit.
            li
              i.far.fa-times-circle
              | Lorem ipsum dolor sit.
        .pricing__footer
          a.btn.btn--pricing(href='#') Book Now

      .pricing__item.pricing-3
        .pricing__header
          h3(data-text='premium')
            span Premium
          .price $200
            span  / Month

        .pricing__body
          ul
            li
              i.far.fa-check-circle
              | Lorem ipsum dolor sit.
            li
              i.far.fa-check-circle
              | Lorem ipsum dolor sit.
            li
              i.far.fa-check-circle
              | Lorem ipsum dolor sit.
            li
              i.far.fa-check-circle
              | Lorem ipsum dolor sit.
            li
              i.far.fa-check-circle
              | Lorem ipsum dolor sit.
            li
              i.far.fa-check-circle
              | Lorem ipsum dolor sit.
            li
              i.far.fa-check-circle
              | Lorem ipsum dolor sit.
            li
              i.far.fa-check-circle
              | Lorem ipsum dolor sit.
        .pricing__footer
          a.btn.btn--pricing(href='#') Book Now