section.services.section
  .container
    h2.section-title Services
    p.section-subtitle What we provide

    .row
      .services__item
        .services__item-img
          img(src='assets/img/service/1.jpg' alt='')
        .services__item-text
          h3 Dog walking
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cum dignissimos id porro repellendus temporibus?


      .services__item
        .services__item-img
          img(src='assets/img/service/2.jpg' alt='')
        .services__item-text
          h3 Pet sitting
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cum dignissimos id porro repellendus temporibus?

      .services__item
        .services__item-img
          img(src='assets/img/service/3.jpg' alt='')
        .services__item-text
          h3 Overnight care
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cum dignissimos id porro repellendus temporibus?

      .services__item
        .services__item-img
          img(src='assets/img/service/4.jpg' alt='')
        .services__item-text
          h3 Healthcare
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cum dignissimos id porro repellendus temporibus?